<!-- Results -->
<section id="results">
  <!-- Search Form -->
  <div class="search">
    <h1>Want A Hotel</h1>
    <input class="searchBox" type="text" placeholder="Price, Name or Place" name="hotel" ng-model="query">
  </div>
  <div ng-show ="query.length" class="hotel" ng-repeat = "hotel in hotels | filter:query">
    <img ng-src="{{hotel.logo}}" alt="Hotel Image">
    <h3 class="title">{{hotel.name}}</h3>
    <p class="description">{{hotel.desc}}</p>
      <a class="checkout" href="#hotels/{{hotel.id}}"><span class="fa fa-sign-in"></span> Book</a>
  </div>
</section>
